################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectStreamingApi
/ProjectStreamingApi/bin/Debug/net6.0
/ProjectStreamingApi/obj
/ProjectStreamingApi/Properties
